[workspace.package]
version = "2.5.0"
authors = ["Andrey Fedotov  <fedotoff@ispras.ru>", "Alexey Vishnyakov <vishnya@ispras.ru>", "Georgy Savidov <avgor46@ispras.ru>"]

[workspace]
members = ["casr", "libcasr"]

[profile.release]
lto = true
opt-level = 3
