name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
jobs:
  ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Code Style
      run: cargo fmt -- --check
    - name: Clippy
      run: RUSTFLAGS="-Dwarnings" cargo clippy --all --tests
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: |
        sudo apt update && sudo apt install -y gdb pip python3.10-dev llvm
        pip3 install numpy scipy atheris
        cargo test --release --verbose
