name: trivy
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    name: Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get Cargo.lock
        # According to this https://aquasecurity.github.io/trivy/v0.44/docs/scanner/vulnerability/language/rust/
        # Cargo.lock needs to be next to Cargo.toml (works for packages not for
        # workspaces).
        run: |
          cargo update
          cp ./Cargo.lock ./casr

      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          format: 'sarif'
          output: 'trivy-results.sarif'
          #severity: 'CRITICAL,HIGH'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy-results.sarif'
